table{
	font-size:13px;
	color:#000000;

}

.body
{
	margin: 0px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#666666;
	/*background:url(../img/background.jpg);
	background-repeat:repeat-x;*/
	background-color:#666666;
}



.top
{
	background-image:url(top2.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
}

.barra
{
	background-image:url(barra2.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
}

.menutext
{
  font-family:Verdana, Arial, Helvetica, sans-serif;
  margin-top:0px;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  text-align: center;
}

.menu
{
  padding-bottom:10px;
  text-align: center;
  width:200px;
	height:60px;
	background-position:0px 0px;
}

.menu:hover
{
	cursor:pointer;
	width:200px;
	height:60px;
	background-image:url(selected.png);
	background-position:0px 0px;
	background-repeat:no-repeat;
}


.branco
{
	background-color:#FFFFFF;
}


.even
{
  color: #000;
  background-color:#F7F7F7;
}

.odd
{
	color: #000;
  background-color:#E2E2E2;
}




.lista
{
	color: #000;
  text-decoration: none;
}



.titulos
{
	color: #000;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}


.conteudo
{
	margin-left: 20px;
  margin-right: 20px;
}

